<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
      integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <h1>Lustige Liste</h1>
    </header>
    <main>
      <button hx-post="/add">Click Me!</button>
      {% for item in funny_items%}
      <ul>
        <li>{{ item }}</li>
      </ul>
      {% endfor %}
    </main>
  </body>
</html>
